<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Vous cherchez la couleur...</h1>
        </header>
        <canvas id="canvas"></canvas>
        <div>
            <table>
                <tr>
                    <td></td>
                    <td>Nom Joueur</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td> 1.</td>
                    <td>Kast2</td>
                    <td>Kast3 </td>
                </tr>
                <tr>
                    <td> 2.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
</html>