<!DOCTYPE HTML>
<html>
<head>
    <title>Murapix</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            var canvas = document.getElementById('canvas');
            var ctx
			if (canvas.getContext) {
				ctx = canvas.getContext('2d');
			}

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received : ' + msg.event).html());
                if (msg.event === 'newgame') {
                    ctx.fillStyle = 'rgb(' + msg.color + ',' + msg.color + ',' + msg.color + ')';
                    ctx.fillRect(25, 25, 100, 100);
                }
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
			
			
        });
    </script>
</head>
<body>
    <h1>Murapix</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
	<canvas id="canvas" width="150" height="150"></canvas>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
